.code_ALL {
  background: #f4f4f4;
  position: relative;
  padding-top: 142px;
}
.code_ALL .code_content1 {
  width: 960px;
  position: relative;
  margin: 0 auto 0;
  display: flex;
  align-items: center;
  font-family: '微软雅黑';
}
.code_ALL .code_content1 .code_content1-text {
  width: 50%;
}
.code_ALL .code_content1 .code_content1-text h1 {
  font-size: 38px;
  color: #108ee9;
  padding-left: 30px;
}
.code_ALL .code_content1 .code_content1-text p {
  width: 94%;
  margin-top: 18px;
  font-size: 18px;
  text-indent: 2em;
  line-height: 30.4px;
  word-break: break-all;
}
.code_ALL .code_content1 .code_content1-img {
  width: 50%;
  position: relative;
  top: 20px;
}
.code_ALL .code_content1 .code_content1-img img {
  width: 100%;
}
.code_ALL .code_content2 {
  width: 960px;
  position: relative;
  margin: 0 auto 0;
  font-family: "微软雅黑";
}
.code_ALL .code_content2 .code_content2-title {
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.code_ALL .code_content2 .code_content2-title h1 {
  font-size: 30px;
}
.code_ALL .code_content2 .code_content2-title h2 {
  font-size: 18px;
  line-height: 30px;
}
.code_ALL .code_content2 .code_content2-title .title-h2 {
  width: 300px;
  margin: 0 auto;
  position: relative;
  left: 50px;
}
.code_ALL .code_content2 .code_content2-text {
  width: 100%;
  display: flex;
  align-items: center;
}
.code_ALL .code_content2 .code_content2-text .code_content2_1 {
  width: 33.33%;
  text-align: center;
}
.code_ALL .code_content2 .code_content2-text .code_content2_1 p {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  text-align: left;
  text-indent: 2em;
}
.code_ALL .code_content2 .code_content2-text .code_content2_2 {
  width: 66.66%;
  text-align: center;
}
.code_ALL .code_content3 {
  width: 960px;
  position: relative;
  margin: 0 auto 0;
  font-family: "微软雅黑";
}
.code_ALL .code_content3 .code_content3-title {
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.code_ALL .code_content3 .code_content3-title h1 {
  font-size: 30px;
}
.code_ALL .code_content3 .code_content3-text {
  width: 100%;
  display: flex;
  align-items: center;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 {
  width: 33.33%;
  height: 100%;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 h1 {
  font-size: 22.4px;
  color: #108ee9;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 p {
  font-size: 16px;
  color: black;
  line-height: 24px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 .code_content3_1_1 {
  width: 380px;
  position: relative;
  top: -50px;
  left: 15px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 .code_content3_1_2 {
  position: relative;
  top: 50px;
  left: 55px;
  width: 370px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 .websecurity_content3_1_1 {
  position: relative;
  top: -70px;
  width: 310px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_1 .websecurity_content3_1_2 {
  position: relative;
  top: -10px;
  width: 310px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_2 {
  width: 33.33%;
  position: relative;
  text-align: center;
}
.code_ALL .code_content3 .code_content3-text .code_content3_2 img {
  width: 320px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 {
  width: 33.33%;
  padding-left: 32px;
  align-self: flex-start;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 h1 {
  font-size: 22.4px;
  color: #108ee9;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 p {
  font-size: 16px;
  color: black;
  line-height: 24px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 .code_content3_3_1 {
  width: 400px;
  position: relative;
  top: -15px;
  right: 120px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 .code_content3_3_2 {
  position: relative;
  top: 100px;
  right: 80px;
  width: 360px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 .websecurity_content3_3_1 {
  position: relative;
  top: 60px;
  left: -50px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 .websecurity_content3_3_2 {
  position: relative;
  top: 110px;
}
.code_ALL .code_content3 .code_content3-text .code_content3_3 .websecurity_content3_3_3 {
  position: relative;
  top: 140px;
  left: -110px;
}
.code_ALL .code_content4 {
  width: 960px;
  position: relative;
  margin: 0 auto 0;
  font-family: "微软雅黑";
}
.code_ALL .code_content4 .code_content4-title {
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.code_ALL .code_content4 .code_content4-title h1 {
  font-size: 30px;
}
.code_ALL .code_content4 .code_content4-text {
  width: 100%;
  display: flex;
}
.code_ALL .code_content4 .code_content4-text .code_content4_1 {
  width: 35%;
  z-index: 1;
}
.code_ALL .code_content4 .code_content4-text .code_content4_1 p {
  height: 196.8px;
  width: 395.2px;
  margin: 35px auto 45px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}
.code_ALL .code_content4 .code_content4-text .code_content4_1 p h1 {
  font-size: 22px;
}
.code_ALL .code_content4 .code_content4-text .code_content4_1 img {
  width: 395.2px;
  height: 196px;
}
.code_ALL .code_content4 .code_content4-text .code_content4_2 {
  width: 30%;
}
.code_ALL .code_content4 .code_content4-text .code_content4_2 img {
  width: 345.6px;
  position: relative;
  left: -40px;
}
.code_ALL .code_content4 .code_content4-text .code_content4_3 {
  width: 35%;
  z-index: 1;
}
.code_ALL .code_content4 .code_content4-text .code_content4_3 p {
  position: relative;
  left: -30px;
  height: 196.8px;
  width: 395.2px;
  margin: 10px auto 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}
.code_ALL .code_content4 .code_content4-text .code_content4_3 p h1 {
  font-size: 22px;
}
.code_ALL .code_content4 .code_content4-text .code_content4_3 img {
  width: 396px;
  margin: 20px auto 15px;
  position: relative;
  left: -75px;
}
.code_ALL .code_content5 {
  width: 960px;
  position: relative;
  margin: 0 auto 0;
  font-family: "微软雅黑";
}
.code_ALL .code_content5 .code_content5-title {
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.code_ALL .code_content5 .code_content5-title h1 {
  font-size: 30px;
}
.code_ALL .code_content5 .code_content5-text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.code_ALL .code_content5 .code_content5-text .code_content5_text_content {
  width: 33.33%;
  text-align: center;
  margin: 0px auto 100px;
}
.code_ALL .code_content5 .code_content5-text .code_content5_text_content h1 {
  font-size: 20px;
}
@media screen and (min-width: 1600px) {
  .code_ALL {
    background: #f4f4f4;
    position: relative;
    padding-top: 200px;
  }
  .code_ALL .code_content1 {
    width: 1200px;
    position: relative;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    font-family: '微软雅黑';
  }
  .code_ALL .code_content1 .code_content1-text {
    width: 50%;
  }
  .code_ALL .code_content1 .code_content1-text h1 {
    font-size: 38px;
    color: #108ee9;
    padding-left: 30px;
  }
  .code_ALL .code_content1 .code_content1-text p {
    width: 90%;
    margin-top: 18px;
    font-size: 20px;
    text-indent: 2em;
    line-height: 38px;
    word-break: break-all;
  }
  .code_ALL .code_content1 .code_content1-img {
    width: 50%;
  }
  .code_ALL .code_content1 .code_content1-img img {
    width: 100%;
  }
  .code_ALL .code_content2 {
    width: 1200px;
    position: relative;
    margin: 0 auto 0;
    font-family: "微软雅黑";
  }
  .code_ALL .code_content2 .code_content2-title {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .code_ALL .code_content2 .code_content2-title h1 {
    font-size: 30px;
  }
  .code_ALL .code_content2 .code_content2-title h2 {
    font-size: 18px;
    line-height: 30px;
  }
  .code_ALL .code_content2 .code_content2-title .title-h2 {
    width: 300px;
    margin: 0 auto;
    position: relative;
    left: 50px;
  }
  .code_ALL .code_content2 .code_content2-text {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .code_ALL .code_content2 .code_content2-text .code_content2_1 {
    width: 33.33%;
    text-align: center;
  }
  .code_ALL .code_content2 .code_content2-text .code_content2_1 p {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
    text-indent: 2em;
  }
  .code_ALL .code_content2 .code_content2-text .code_content2_2 {
    width: 66.66%;
    text-align: center;
  }
  .code_ALL .code_content3 {
    width: 1200px;
    position: relative;
    margin: 0 auto 0;
    font-family: "微软雅黑";
  }
  .code_ALL .code_content3 .code_content3-title {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .code_ALL .code_content3 .code_content3-title h1 {
    font-size: 30px;
  }
  .code_ALL .code_content3 .code_content3-text {
    width: 100%;
    display: flex;
    align-items: center;
    height: 410px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 {
    width: 33.33%;
    height: 100%;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 h1 {
    font-size: 26px;
    color: #108ee9;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 p {
    font-size: 18px;
    color: black;
    line-height: 30px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 .code_content3_1_1 {
    width: 460px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 .code_content3_1_2 {
    position: relative;
    top: 145px;
    left: 100px;
    width: 450px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 .websecurity_content3_1_1 {
    position: relative;
    top: 30px;
    width: 370px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_1 .websecurity_content3_1_2 {
    position: relative;
    top: 95px;
    width: 380px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_2 {
    width: 33.33%;
    position: relative;
    text-align: center;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_2 img {
    width: 400px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 {
    width: 33.33%;
    padding-left: 40px;
    align-self: flex-start;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 h1 {
    font-size: 26px;
    color: #108ee9;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 p {
    font-size: 18px;
    color: black;
    line-height: 30px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 .code_content3_3_1 {
    width: 500px;
    position: relative;
    top: -10px;
    right: 150px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 .code_content3_3_2 {
    position: relative;
    top: 145px;
    right: 100px;
    width: 450px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 .websecurity_content3_3_1 {
    position: relative;
    top: 100px;
    left: -50px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 .websecurity_content3_3_2 {
    position: relative;
    top: 160px;
  }
  .code_ALL .code_content3 .code_content3-text .code_content3_3 .websecurity_content3_3_3 {
    position: relative;
    top: 195px;
    left: -120px;
  }
  .code_ALL .code_content4 {
    width: 1200px;
    position: relative;
    margin: 0 auto 0;
    font-family: "微软雅黑";
  }
  .code_ALL .code_content4 .code_content4-title {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .code_ALL .code_content4 .code_content4-title h1 {
    font-size: 30px;
  }
  .code_ALL .code_content4 .code_content4-text {
    width: 100%;
    display: flex;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_1 {
    width: 35%;
    z-index: 1;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_1 p {
    height: 246px;
    width: 494px;
    margin: 58px auto 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_1 p h1 {
    font-size: 24px;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_1 img {
    width: 495px;
    height: 246px;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_2 {
    width: 30%;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_2 img {
    width: 432px;
    position: relative;
    left: -40px;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_3 {
    width: 35%;
    z-index: 1;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_3 p {
    position: relative;
    left: -30px;
    height: 246px;
    width: 494px;
    margin: 15px auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_3 p h1 {
    font-size: 24px;
  }
  .code_ALL .code_content4 .code_content4-text .code_content4_3 img {
    width: 495px;
    margin: 33px auto 20px;
    position: relative;
    left: -75px;
  }
  .code_ALL .code_content5 {
    width: 1200px;
    position: relative;
    margin: 0 auto 0;
    font-family: "微软雅黑";
  }
  .code_ALL .code_content5 .code_content5-title {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .code_ALL .code_content5 .code_content5-title h1 {
    font-size: 30px;
  }
  .code_ALL .code_content5 .code_content5-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .code_ALL .code_content5 .code_content5-text .code_content5_text_content {
    width: 33.33%;
    text-align: center;
    margin: 0px auto 100px;
  }
  .code_ALL .code_content5 .code_content5-text .code_content5_text_content h1 {
    font-size: 22px;
  }
}
