<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<p>
    <span th:text="开发者"></span> <em th:text="${name}"></em>  您好,
</p>
<p>
    您在孝道科技官方网站( www.tcsec.com.cn )的账户已经注册成功。
</p>
<p>
    请您在 24 小时内点击以下链接，或将链接复制到浏览器地址栏访问以激活邮箱：
    <br/>
   <em th:text="${message}"></em>
    <br/>
    激活邮箱后，即可使用孝道科技的云审计服务等功能。
</p>
<p>
    此邮件为系统自动发出，请勿直接回复。
</p>
<p>?
    如果您并没有进行上述操作，或者有其他任何疑问，请发邮件至：CustomerService@tcsec.com.cn 或致电孝道科技客服：0571-85358276
</p>
<p>
    杭州孝道科技有限公司
</p>

<!-- <p style="align:center"> -->
<!--     <img src="images/tcsec_logo.png" height="100%" width="200px" /> -->
<!-- </p> -->
</body>
</html>